/* NavBar */
nav {
	border: 1px solid red;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 6rem;
	padding: 0 2rem;
}

nav a {
	/* color: white; */
	text-decoration: none;
}

nav div {
	display: flex;
	gap: 3rem;
}

nav div a {
	/* color: white; */
	text-decoration: none;
}

/* Route */

.route__container {
	border: 1px solid red;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 6rem);
}

.route__container section {
	border: 1px solid red;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 450px;
}

.route__container section h3 {
	margin: 0;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.route__container section .input_group {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.route__container section .input_group input {
	padding: 1rem;
}

.route__container section form button {
	width: fit-content;
	margin: 0 auto;
	padding: 1rem;
}

.error {
	margin: 0;
	color: red;
	text-align: center;
}

/* profile */
.profile__container {
	min-height: calc(100vh - 6rem);
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile__container section {
	border: 1px solid red;
	display: flex;
	gap: 2rem;
	width: 450px;
	align-items: center;
	padding: 1rem;
}

.profile__container section .avatar {
	position: relative;
}

.profile__container section .text__container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.profile__container section .text__container > * {
	margin: 0;
}

.profile__container section .image__container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}

.profile__container section .image__container img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: all 0.6s ease;
}

.overlay_input {
	display: none;
}

.overlay {
	position: absolute;
	display: flex;
	gap: 1rem;
	justify-content: center;
	align-items: flex-start;
	opacity: 0;
	transition: all 0.5s ease;
}

.overlay svg {
	cursor: pointer;
}

.overlay .delete {
	color: #f83909;
}

.image__container:hover img {
	opacity: 0.7;
}

.image__container:hover .overlay {
	opacity: 1;
}

.overlay svg {
	font-size: 2.5rem;
}

/* ====Home container==== */
.home_container {
	width: 100%;
	height: calc(100vh - 6rem);
	background-color: #09afc5;
}

.home_wrapper {
	border: 1px solid black;
	display: grid;
	grid-template-columns: 1fr 2fr;
	height: 100%;
	/* border: 3px solid gold; */
}

/* ===Other Users=== */
.other_users {
	border-right: 2px solid black;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.otherUser_container {
	display: flex;
	align-items: center;
	gap: 1rem;
	padding: 5px 10px;
}

.otherUser_container .img_container {
	position: relative;
}

.otherUser_container .img_container img {
	display: block;
	object-fit: cover;
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

.otherUser_container .img_container .online_status {
	position: absolute;
	bottom: 1px;
	right: 12px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.otherUser_container .img_container .online_status.online {
	background-color: #6cf36c;
}

.otherUser_container .img_container .online_status.offline {
	background-color: #f72e2e;
}

.otherUser_container .display_name {
	font-weight: bold;
	text-transform: capitalize;
	color: #383737;
}

/* ==== Chats === */
.chats {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}

.chat_name {
	width: 100%;
	height: 50px;
	border: 1px solid;
	display: flex;
	align-items: center;
	justify-items: center;
	border-bottom: 4px solid #1e4bed;
}

.chat_name h3 {
	margin: 0;
	text-align: center;
	width: 100%;
	text-transform: capitalize;
}

.chats .no_chat {
	font-weight: bold;
	text-transform: capitalize;
	font-size: 1.8rem;
}

/* ======Message Form===== */
.message_form_container {
	/* border: 1px solid blue; */
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
}

.message_form {
	/* border: 1px solid red; */
	margin-inline: auto;
	display: flex;
	flex-direction: row;
	width: 80%;
	justify-content: space-between;
	align-items: center;
}

.message_form label svg {
	font-size: 2.5rem;
	text-align: center;
	cursor: pointer;
}

.message_form input[type="file"] {
	display: none;
}

.message_form input[type="text"] {
	width: 80%;
	padding: 1rem 1.2rem;
	border: none;
	border-radius: 0.5rem;
	outline: none;
}

.message_form button {
	align-self: stretch;
	font-weight: bold;
	padding: 0.3rem 0.7rem;
	border-radius: 0.5rem;
	border: none;
	cursor: pointer;
}

/* =====Messages container */
.messages_container {
	width: 100%;
	height: calc(100vh - 90px - 6.6rem);
	overflow-y: auto;
	padding-inline: 10px;
	border-bottom: 1px solid black;
}

/* -->scrollbar definitions */
.messages_container::-webkit-scrollbar {
	width: 8px;
}

.messages_container::-webkit-scrollbar-thumb {
	background: rgb(241, 125, 144);
	border-radius: 10px;
}

.messages {
	max-width: 50%;
	width: fit-content;
}

.own {
	text-align: right;
	margin-left: auto;
	background-color: yellow;
	border-radius: 10px 0 10px 10px;
}

.friend {
	text-align: left;
	background-color: skyblue;
	border-radius: 0 10px 10px 10px;
}

.messages p {
	display: flex;
	flex-direction: column;
	padding: 10px;
	gap: 4px;
	margin: 5px;
}

.messages p small {
	font-size: 1rem;
	font-weight: bold;
}

.messages img {
	width: 100%;
	height: 50%;
	object-fit: cover;
}
